### VisualStudioCode

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/


### RPGMakerMZ

/game.rmmzproject
/index.html
/package.json

/audio/
/css/
/fonts/
/img/*/
!/img/pictures/
/save/

/js/*.js
!/js/plugins.js
/js/libs/
/js/plugins/EventLabel.js
/js/plugins/MessageWindowPopup.js
/js/plugins/MPP_ChoiceEX.js
/js/plugins/PluginCommonBase.js
/js/plugins/TextPicture.js
