name: Auto approve by bot

on:
  pull_request:
    types: [ready_for_review]

permissions:
  pull-requests: write
  contents: read

jobs:
  auto-approve:
    runs-on: ubuntu-latest
    if: github.actor == 'maguros'
    steps:
      - name: Approve Pull Request
        uses: juliangruber/approve-pull-request-action@v2
        with:
          github-token: ${{ secrets.BOT_TOKEN }}
          number: ${{ github.event.pull_request.number }}
